* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */
.header-holder {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}

.menu-icon {
  cursor: pointer;
}

.logo {
  width: 120px;
}

.btn-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn {
  background-color: #1e1916;
  width: 55px;
  height: 30px;
  cursor: pointer;
  border-radius: 50px;
  position: relative;
  transition: 0.2s;
}

.btn::before {
  position: absolute;
  content: "";
  background-color: #efead3;
  width: 21px;
  height: 21px;
  border-radius: 50px;
  margin: 4.5px;
  transition: 0.2s;
}

input:checked + .btn {
  background: #df6535;
}

input:checked + .btn::before {
  transform: translateX(25px);
  background-color: #efead3;
}

#check {
  display: none;
}

/* HERO SECTION */
.hero {
  padding-bottom: 90px;
  padding-top: 30px;
}

.hero-section-holder {
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.hero-section-text-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-align: center;
  color: #1e1916;
}

.hero-title {
  font-family: "Tanker";
  font-size: 84px;
  font-weight: 400;
}

.hero-text {
  max-width: 640px;
  width: 100%;
  line-height: 1.7;
}

.hero-btn {
  max-width: 295px;
  width: 100%;
  padding: 6px 0px;
  border: none;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  background-color: #1e1916;
  font-family: inherit;
  color: #fbfbe7;
  font-size: 16px;
  margin-top: 40px;
}

.hero-btn-text {
  flex: 1;
  text-align: center;
}

.btn-icon-holder {
  background-color: #efead3;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  margin-right: 8px;
}

.btn-icon {
  color: #1e1916;
  font-size: 20px;
}

.hero-img {
  max-width: 1280px;
  width: 100%;
  border-radius: 16px;
}

@media screen and (max-width: 1280px) {
  .header-holder {
    width: 95%;
  }

  .hero-section-holder {
    width: 95%;
  }
}

@media screen and (max-width: 1000px) {
  .hero-title {
    font-size: 68px;
  }

  .hero-text {
    font-size: 16px;
    max-width: 550px;
  }
}

@media screen and (max-width: 700px) {
  .hero {
    padding-top: 0;
    padding-bottom: 45pxssssssss;
  }

  .hero-section-text-holder {
    align-items: flex-start;
    text-align: start;
  }

  .hero-btn {
    margin-top: 12px;
  }
}

@media screen and (max-width: 500px) {
  .hero-title {
    font-size: 50px;
  }

  .hero-text {
    font-size: 15px;
  }

  .menu-icon {
    width: 40px;
    height: 40px;
  }

  .logo {
    width: 100px;
  }

  .hero-btn {
    font-size: 15px;
    max-width: 280px;
  }
}
